header {
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}

form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;

}

button {
    padding: 10px 20px;
    border: none;
    background-color: #757575;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

input {
    width: 250px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;

}


input :focus {
    border-color: #888;
}

button :hover {
    background-color: #5a5a5a;
    cursor: pointer;
}