body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
}